<%- include ../partials/header.ejs %>
    <%- include ../partials/main-nav.ejs %>

        <!--Main Content-->
        <main class="container">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <h1>
                        <%= title %>
                    </h1>
                    <% if(typeof displayName=='string' && displayName) {%>
                        <a href="/business/add" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i>Add a Business</a>
                        <% } %>
                            <br>
                            <table class="table table-bordered table-striped table-hover">
                                <!--Header Row-->
                                <tr class="d-flex">
                                    <% if(typeof displayName=='string' && displayName) {%>
                                        <th class="text-center col-3">Name</th>
                                        <th class="text-center col-2">Phone Number</th>
                                        <th class="text-center col-3">Email</th>
                                        <th class="text-center col-2"></th>
                                        <th class="text-center col-2"></th>
                                        <% }else{ %>
                                            <th class="text-center col-4">Name</th>
                                            <th class="text-center col-4">Phone Number</th>
                                            <th class="text-center col-4">Email</th>
                                            <% } %>
                                </tr>

                                <!--Repeatable Template Row-->

                                <% for (let count=0; count < businessList.length; count++) { %>
                                    <tr class="d-flex">
                                        <% if(typeof displayName=='string' && displayName) {%>
                                            <td class="text-center col-3">
                                                <%= businessList[count].name %>
                                            </td>
                                            <td class="text-center col-2">
                                                <%= businessList[count].phone %>
                                            </td>
                                            <td class="text-center col-3">
                                                <%= businessList[count].email %>
                                            </td>
                                            <td class="text-center col-2">
                                                <a href="/business/edit/<%= businessList[count]._id %>" class="btn btn-primary
                                            btn-sm">
                                                    <i class="fas fa-pencil-alt"></i> Edit</a>
                                            </td>
                                            <td class="text-center col-2">
                                                <a href="/business/delete/<%= businessList[count]._id %>" class="btn btn-danger
                                            btn-sm">
                                                    <i class="fas fa-trash-alt"></i> Delete</a>
                                            </td>
                                            <% }else{ %>
                                                <td class="text-center col-4">
                                                    <%= businessList[count].name %>
                                                </td>
                                                <td class="text-center col-4">
                                                    <%= businessList[count].phone %>
                                                </td>
                                                <td class="text-center col-4">
                                                    <%= businessList[count].email %>
                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                            </table>
                </div>
            </div>
        </main>

        <%- include ../partials/bottom-nav.ejs %>
            <%- include ../partials/footer.ejs %>